@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --radius-pill: 999px;
}

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
  }

  a {
    @apply transition-colors;
  }
}
